@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,300);
#cssmenu {
  font-family: "Arial";
  font-size: 10px;
  line-height: 15px;
  text-transform: uppercase;
  text-align: left;
}

#cssmenu > ul li#responsive-tab {
  display: none;
  /* Hide for large screens */

}
#cssmenu > ul li {
  display: inline-block;
  *display: inline;
  zoom: 1;
}
#cssmenu > ul li.right {
  float: right;
}
#cssmenu > ul li.has-sub {
  position: relative;
}
#cssmenu > ul li.has-sub:hover ul {
  display: block;
}
#cssmenu > ul li.has-sub ul {
  display: none;
  width: 250px;
  position: absolute;
  margin: 0;
  padding: 0;
  list-style-type: none;
  background-color:rgba(0, 0, 0, 0.5);
	color:#29bca3;
	border-bottom:0px;
}
#cssmenu > ul li.has-sub ul li {
  display: block;
}
#cssmenu > ul li.has-sub > a {
  background-image: url('cssmenu/images/caret.png');
  background-repeat: no-repeat;
  background-position: 90% -95%;
}
#cssmenu > ul li.has-sub > a.active,
#cssmenu > ul li.has-sub > a:hover {
  background-position: 90% 195%;
}
#cssmenu > ul li a {
  display: block;
   padding: 4px 16px 12px;
  text-decoration: none;
  color: #fff;
  font-size: 14px;
}
#cssmenu > ul li a.active,
#cssmenu > ul li a:hover {
  color: #29bca3;
  text-shadow: 0px 1px 0px #000;
}
@media (max-width: 600px) {
  #cssmenu > ul {
    width: 100%;
  }
  #cssmenu > ul li#responsive-tab {
    display: block;
  }
  #footer-widget1 {
    display: none;
  }
   h2#page-title {
    display: none;
  }
  #filters li
  {
  width: 100%;
  }
  #filters
  {
    display: none;
  }  
  
   #cssmenu > ul li a#logo-image {
    display: none;
  }
  #cssmenu > ul li#responsive-tab a {
    background: url('../images/menu-toggle.png') no-repeat;
    background-position: 95% 35%;
  }
  #cssmenu > ul li#responsive-tab a:hover {

    background-position: 95% 35%;
  }
  #cssmenu > ul li {
    display: none;
  }
  #PromoFooter{
    display: none;
  }
  #download{
    display: none;
  }
  #cssmenu > ul li.right {
    float: none;
  }
  #cssmenu > ul li.has-sub {
    position: relative;
  }
  #cssmenu > ul li.has-sub ul {
    display: block;
    position: static;
    width: 100%;

    border: 0 none;
  }
  #cssmenu > ul li.has-sub ul li {
    display: block !important;
  }
  #cssmenu > ul li.has-sub ul li a span {
    display: block;
    padding-left: 24px;
  }
  #cssmenu > ul li.has-sub > a {
    background-image: none;
  }
}
/* Make sure they show even if hidden in mobile view by JS */
@media (min-width: 600px) {
  #cssmenu > ul > li.collapsed {
    display: inline-block !important;
    *display: inline;
    zoom: 1;
  }
  #cssmenu > ul ul li.collapsed {
    display: block !important;
  }
}
